.card {
  width: 364px;
  border-radius: 6px;
  background: #222222;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;

  display: flex;
  flex-direction: column;

  &__image {
    height: 203px;
    width: 364px;
    margin: 0 auto 16px;
    cursor: pointer;
  }

  &__group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px 17px;
  }

  &__title {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: var(--color-on-background);
    margin: 0;
  }

  &__like {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__caption {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #8B8B8B;
    margin: 0 auto 16px 16px;
  }
}
