.profile {
  width: 100%;
  height: calc(100% - 74px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 74px var(--width-padding) 70px;

  &__title {
    margin: 0 auto 123px;
    color: var(--color-on-background);
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    text-align: center;

  }

  &__info {
    width: 410px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin: 0 auto 220px;
  }

  &__input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
      height: 14px;
      font-family: var(--primary-font);
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      color: var(--color-on-background);
    }
  }

  &__input {
    border: none;
    width: 90%;
    background-color: transparent;
    margin: 0;
    height: 14px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: var(--color-on-background);
    text-align: right;

    &:focus {
      outline: none;
    }
  }

  &__line-break {
    width: 100%;
    padding: 0;
    height: 1px;
    background: #424242;
    border: none;
  }

  &__button {
    max-width: 410px;
    width: 100%;

    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 33px auto 16px;

    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--color-on-background);

    &:hover {
      opacity: .8;
    }

    &:last-of-type {
      color: #EE3465;
      font-weight: 500;
      margin: 0 auto;
    }
  }

  &__submit {
    margin: 0 auto 9px;
    width: 410px;
    height: 45px;
    background: #3456F3;
    border-radius: 3px;

    &:hover {
      opacity: .8;
    }

    &:disabled {
      background-color: #f8f8f8;
    }
  }

  &__error {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #FF004C;
    text-align: center;
    margin: 0 auto 20px;
  }
}
