@import "variables";

.promo {
  max-width: 100%;
  padding: 75px var(--width-padding);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: var(--color-background-intro);

  &__image {
    height: 304px;
    width: 310px;

    @include media-laptop {
      margin: 0 auto 48px;
    }

  }

  @include media-laptop {
    padding: 140px 0 46px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

}
