@import "variables";

.techs {
  max-width: 100%;
  padding: 100px var(--width-padding);
  background-color: var(--color-background-variant);

  &__line-break {
    margin: 0 auto 90px;

    padding: 0;
    height: 1px;
    background: #DADADA;
    width: 100%;
    border: none;

    @include media-laptop {
      margin: 0 auto 80px;
    }
  }

  &__title {
    margin: 0 0 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;

    @include media-laptop {
      margin: 0 auto 22px;
    }
  }

  &__text {
    margin: 0 auto 100px;
    max-width: 460px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;

    @include media-laptop {
      margin: 0 auto 83px;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    max-width: 690px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    justify-content: center;

    &-item {
      background: #303030;
      border-radius: 10px;
      width: 90px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: var(--primary-font);
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      letter-spacing: -0.04em;
      color: var(--color-on-background);

      @include media-laptop {
        width: 84px;
        height: 57px;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }


  @include media-laptop {
    padding: 90px 50px;
  }
}
